
.Barra_De_Navegacao {
    background-color: #333;
    padding: 0px;
    margin: 0px;
}
#Barra_De_Navegacao nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#Barra_De_Navegacao nav ul li{
    display: inline-block;
}
#Barra_De_Navegacao nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}


#Conteudo{
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}


.section{
    background-color: #333;
    text-align: center;
    padding-inline-start: 25%;
    padding-inline-end: 25%;
    border-radius: 30px;
}
.section h1{
    color:white;
}
.section h2{
    color:white;
}
.section h3{
    color:white;
}
.section  p{
    color:white;
}
.section li{
    color:white;
    
}
.section a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

body{
    margin:0px;
}