
.Barra_De_Navegacao {
    background-color: #333;
    padding: 0px;
    margin: 0px;
}
#Barra_De_Navegacao nav ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#Barra_De_Navegacao nav ul li{
    display: inline-block;
}
#Barra_De_Navegacao nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}


#Conteudo{
    padding-inline-start: 20%;
    padding-inline-end: 20%;
}


#Cabecario{
    background-color: #333;
    text-align: center;
    padding-inline-start: 15%;
    padding-inline-end: 15%;
    border-radius: 30px;
}
.Cabecario .Titulo h1{
    color:white;
}
.Cabecario .Apresentacao_Rapida p{
    color:white;
}
.Cabecario .Email p{
    color:white;
}
.Cabecario .Cidade p{
    color:white;
}



body{
    margin:0px;
}