
.Barra_De_Navegacao {
    background-color: #333;
    padding: 0px;
    margin: 0px;
}
#Barra_De_Navegacao nav ul li{
    display: inline-block;
}
#Barra_De_Navegacao nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}